<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ffk.dao.ICommodity">

    <select id="queryCommodity" parameterType="map" resultMap="getCategory">
        select * from goods
        <where>
            <if test="name!=null">
                name = #{name}
            </if>
            <if test="rentBeforeBuy!=null">
                AND rent_before_buy = #{rentBeforeBuy}
            </if>
            <if test="rentForSale!=null">
                AND rent_for_sale = #{rentForSale}
            </if>
            <if test="sharingRent!=null">
                AND sharing_rent = #{sharingRent}
            </if>
            <if test="longitude!=null">
                AND longitude = #{longitude}
            </if>
            <if test="latitude!=null">
                AND latitude = #{latitude}
            </if>
            <if test="status!=null">
                AND status = #{status}
            </if>
            <if test="manufacturer!=null">
                AND manufacturer = #{manufacturer}
            </if>
            <if test="category!=null">
                AND category =  #{category}
            </if>
        </where>

    </select>

    <resultMap id="getCategory" type="commodity">
        <association property="categories" column="category" javaType="commodityCategory" select="category"/>
    </resultMap>
    <select id="category" resultType="commodityCategory">
        select * from category where id = #{category}
    </select>

    <insert id="addCommodity" parameterType="commodity">
        insert into goods (id,name,rent_price,sell_price,manufacturer,category,picture,discription,
        sharing_rent,rent_before_buy,rent_for_sale,longitude,latitude,detail_loc,bill_method,status)
        VALUES (null,#{name},#{rentPrice},#{sellPrice},#{manufacturer},#{category},#{picture},#{discription},
        #{sharingRent},#{rentBeforeBuy},#{rentForSale},#{longitude},#{latitude},#{detailLoc},#{billMethod},
        #{status})
    </insert>


</mapper>